$text: rgb(219, 207, 42);
$shadowColor: blue;
$background: url("../src/assets/background.webp");
$backdroundLevel: url("../src/assets/background-level.png");
$backgroundRanking: url("../src/assets/background-ranking.webp");
