*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'aro';
    src: url('../../css/fonts/ARCO.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'aro';
    background-image: url('../../assets/background-level2.png');
    background-size: cover;
    background-position: center;
}

.contenedor-facil{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.juego{
    margin: auto;
    width: auto;
    height: 70%;
    display: grid;
    grid-gap: 10px;
}

.cartas{
    min-width: 20px;
    min-height: 40px;
    width: 60px;
    height: 80px;
    background-image: url('../../assets/lomo_carta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 1px solid black;
    border-radius: 5px;
}

 .controller{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
    
}
.back{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 33%;
    text-align: start;
    
}
.back button{
    background-color: transparent;
    font-family: 'aro';
    font-size: 25px;
    color: black;
    border: 0px;
}
.time{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    color: green;
}
.puntos{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    color: brown;
}